* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.hero-header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.salary input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.envelope-and-button {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}

#botaoAdd,
#create,
#save {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #252d48;
    font-weight: 700;
    width: 100px;
    cursor: pointer;
    color: white;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .6;
}

.iten-created {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
}

/* POPUP PRA CRIAR NOVO GASTO*/
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width: 250px;
}

#inputName,
#inputValue {
    margin: 10px 0 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;

}

#saveButton,
#btnCancel {
    padding: 10px;
    border: none;
    background: transparent;
    background-color: #252d48;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    margin: 10px;
}

/*POPUP DE GASTO CRIADO*/
#cardDiv {
    background-color: #1e293b;
    padding: 24px;
    border-radius: 8px;
    width: 200px;
    margin-left: 50px;
}

#contentitens {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;

}

#btnAdcGasto {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #515d5e;
    color: white;
    cursor: pointer;
    font-size: 16px;
}